.nav {
  background-color: black;
  padding: 12px 0;
  &__base {
    display: flex;
    padding: 0 64px;
  }
  &__logo {
    display: flex;
    align-items: center;
    &--icon {
      color: white;
      text-decoration: none;
      font-size: 2rem;
    }
  }
  &__left-menu {
    display: flex;
    align-items: center;
    margin: 0 24px;
    flex-grow: 1;
    &--element {
      padding: 10px 12px;
      display: flex;
      color: white;
      background-color: transparent;
      border: none;
      outline: none;
      text-decoration: none;
      font-size: 1rem;
    }
  }
  &__right-menu {
    display: flex;
  }
}
