.nav {
  background-color: black;
  padding: 12px 0;
  &__base {
    display: flex;
    padding: 0 64px;
  }
  &__logo {
    &--icon {
      color: white;
      text-decoration: none;
      font-size: 2rem;
    }
  }
}
