<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <title>Rinyu写経</title>
</head>
<body>
  <div class="container">
    <header>
      <%= require('html-loader!./common/nav.html') %>
    </header>

    <main>
      <article>
        <!-- 一覧 -->
        <%= require('html-loader!./common/top.html') %>
        <!-- 1万を超える... -->
        <!-- ビジネス用Uber -->
        <!-- 安全性向上 -->
        <!-- 細かい -->
        <!-- 登録 -->
      </article>
    </main>

    <footer></footer>
  </div>
</body>
</html>
